//variables medidas
$w-200: 200px;
//map
$colores: ( 'uno': rgb(235, 33, 108), 'dos':rgba(255, 177, 205, .9), 'tres':#5c283b, 'cuatro': #c54f7a, 'cinco': rgb(216, 65, 120), 'seis': black, 'siete': white, );
//fonts
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Share+Tech+Mono&display=swap');
$size2: 2rem;
$size3: 3rem;
$size4: 4rem;
$size5: 5rem;
$font-500: 500;
$font-600: 600;
$font-700: 700;
$font-1000: 1000;
//variables de texto:
$fontTitulos: 'Arvo',
serif;
$fontGeneral:'Share Tech Mono',
monospace;
//mixin
@mixin texto($font-size,
$font-weight) {
    font-size: $font-size;
    font-weight: $font-weight;
}

//general
html {
    font-size: 62.5%
}

body {
    background-image: url(../img/fondo.webp);
    background-size: cover;
    box-sizing: border-box;
    max-width: 100;
    overflow-x: hidden;
}

//navBar
#botonera {
    background-color: map-get($map: $colores, $key: 'dos');
    position: sticky;
    top: 0;
    font-size: $size2;
    img {
        width: $w-200;
    }
    ul {
        li {
            a {
                background: linear-gradient(to top, map-get($map: $colores, $key: 'uno'), map-get($map: $colores, $key: 'uno'));
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: background-size .3s;
                &:hover {
                    font-weight: 600;
                    color: map-get($map: $colores, $key: 'seis');
                    background-size: 100% 4px;
                }
            }
        }
    }
}

//carrusel
h2,
h3 {
    font-family: $fontTitulos;
    color: map-get($map: $colores, $key: 'tres');
}

#titulo {
    font-family: $fontTitulos;
    @include texto (5rem,
    800);
    color: map-get($map: $colores, $key: 'uno');
}

#carrusel h5 {
    @include texto(4rem,
    700);
    -webkit-text-stroke: 1px black;
}

#carrusel p {
    @include texto(3rem,
    700);
    -webkit-text-stroke: 1px white;
}

#subtitulo {
    font-family: $fontTitulos;
    line-height: 1;
    color: map-get($map: $colores, $key: 'uno');
    @include texto(4rem,
    700);
}

//footer
#tituloFooter {
    @include texto(3rem,
    1000);
    margin-right: 20px;
}